/* aligns all text to the center of the page */
body {
    text-align: center;
}

/* styling for the header element */
header {
    border-bottom: 5px solid black;
    background-color: rgb(114, 114, 138);
}

/* styling for the footer element */

footer {
    border-top: 5px solid black;
    background-color: rgb(114, 114, 138);

    font-size: 18px;
}

main {
    margin-top: 50px;
    margin-bottom: 50px;
}

#form { /* styling for the form */
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 30px;

    padding-bottom: 10px;
}

textarea { /* sets max width for the textarea */
    max-width: 300px;
}
